<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>  Data sent successfullt  </h1>
    <p id="response"></p>
    <button onclick="test()">Validate</button>
</body>

<script>
    async function test(){
        try {
            const response = await fetch('/validate')
            console.log(response)
        } 
        catch (error) {
            console.log('Error: ', error)
            alert('Error: ', error.message)
        }
    }
</script>
</html>